@model IEnumerable<Darts.Models.Domain.Speler>

@{
    ViewData["Title"] = "Spelers";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-controller="Darts" asp-action="Create">Voeg een speler toe</a>
</p>

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>Name</th>
        <th>Voornaam</th>
        <th>Punten</th>
        <th>Matches gespeeld</th>
        <th class="text-right">Datum toegevoegd</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Naam
            </td>
            <td>
                @item.Voornaam
            </td>
            <td>
                @item.TotaalPunten
            </td>
            <td>
                @item.AantalGespeeld
            </td>
            <td class="text-right">
                @(item.DatumToegevoegd.Date.ToString("d") ?? "-")
            </td>
            <td>
                <a asp-controller="Darts" asp-action="Detail" asp-route-id="@item.SpelerId">Detail</a> |
                <a asp-controller="Darts" asp-action="Edit" asp-route-id="@item.SpelerId">Wijzig</a> |
                <a asp-controller="Darts" asp-action="Delete" asp-route-id="@item.SpelerId">Verwijder</a>
            </td>
        </tr>
    }
</table>